In [1]:
a={"apple","abc",123}

In [2]:
type(a)

set

In [3]:
a

{123, 'abc', 'apple'}

In [53]:
#To create empty set
k=set()

In [4]:
#It doesnot support indexing  and have no repetion

In [7]:
#in method, return True or False
"abc" in a

True

In [9]:
for v in a:
    print(v)

apple
abc
123

In [10]:
#length
len(a)

3

In [12]:
#add or update data
a.add("temp")
a

{123, 'abc', 'apple', 'temp'}

In [13]:
b={"abc","def"}

In [17]:
#same as dict
a.update(b)
a

{123, 'abc', 'apple', 'def', 'temp'}

In [18]:
#remove data show error when not present
a.remove("abc")

In [21]:
#Discard fn- doesnt show error when not found
a.discard(123)
a.discard(56655)

In [22]:
#To delete only last added value
a.pop()

'def'

In [23]:
a

{'apple', 'temp'}

In [24]:
#clear
b.clear()

In [25]:
b

set()

In [26]:
del b

In [27]:
b

NameError: name 'b' is not defined

#Functions in set

In [32]:
#Intersection
a={1,2,3,4,5}
b={3,4,5,4,6,9,7,8}
a.intersection(b)

{3, 4, 5}

In [33]:
#union
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [36]:
#difference- all the elements which are present in a not b
print(a.difference(b))
print(b.difference(a))

{1, 2}
{8, 9, 6, 7}

In [37]:
#symmetric difference- tells( a union b)-(a intersection b)
a.symmetric_difference(b)

{1, 2, 6, 7, 8, 9}

In [40]:
#intersection update
a.intersection_update(b)
a

{3, 4, 5}

In [41]:
#difference update
a.difference_update(b)

In [42]:
#symmetric difference update
a.symmetric_difference_update(b)

In [43]:
#if a is subset of b
a.issubset(b)

True

In [44]:
#superset
a.issuperset(b)

True

In [46]:
#disjoint- nothing common
a.isdisjoint(b)

False

In [50]:
#Find the sum of all the unique elements in a list
a=[1,2,3,4,5,6,1,2,4,3]
s=set()
sum=0
for i in a:
    s.add(i)
for i in s:
    sum=sum+i
print(sum)

21

In [56]:
def sumUnique(a):
    sum=0
    for i in a:
        k.add(i)
    for i in k:
        sum=sum+i
    return sum

In [57]:
sumUnique(a)

21