# Strings

In [1]:
a="abc def"
b='abc def'
type(a),type(b)

(str, str)

In [2]:
c='d'
type(c)

str

In [3]:
#Accessing the characters of string
a[0],a[1]

('a', 'b')

In [7]:
k=" "
k[0]

' '

In [9]:
#Iteration of string
for i in a:
    print(i)

a
b
c

d
e
f

In [13]:
for i in a:
    print(i+" Patel")

a Patel
b Patel
c Patel
  Patel
d Patel
e Patel
f Patel

In [17]:
#We can not change the existing integer but we can append the change complete struing because we change the address of variable
#not any change in string
a[4]='s'
a="NOERROR?"

TypeError: 'str' object does not support item assignment

In [19]:
#More on Strings
str1="This is Shivam's pen"

In [28]:
str2='Ankur said that, "It is Shyam\'s Pen"'
str2

'Ankur said that, "It is Shyam\'s Pen"'

In [32]:
#By applying \ we can ue escaping
str3="This is Ankur\'s pen"
str3

"This is Ankur's pen"

In [34]:
str1+" "+str2

'This is Shivam\'s pen Ankur said that, "It is Shyam\'s Pen"'

In [39]:
#Comparison 
str1==str2
str1>str2

True

In [43]:
#Split
print(str3.split("i"))
str3.split()

['Th', 's ', "s Ankur's pen"]

['This', 'is', "Ankur's", 'pen']

In [47]:
#Replace
str3.replace(" is"," are")

"This are Ankur's pen"

In [51]:
#Find
print(str3)
str3.find('h')

This is Ankur's pen

1

In [55]:
#Lower and Upper function

print(str3.upper())
str3.lower()

THIS IS ANKUR'S PEN

"this is ankur's pen"

In [59]:
#islower(), isupper(),isalpha(),startswith()
print(str3.islower())
print(str3.isupper())
print(str3.isalpha())
print(str3.startswith("T"))

False
False
False
True

In [61]:
#Slicing- string[startindex,endendex,skip], where end index not included
str3[1:4]

'his'

In [65]:
str3[5:]

"is Ankur's pen"

In [66]:
str3[:5]

'This '

In [84]:
str3[:]

"This is Ankur's pen"

In [70]:
str3[1:10:2]

'hsi n'

In [75]:
str3[10:1:-1]

'knA si si'

In [76]:
#Replacing a letter x with y using find fn(condn: Only one x is present)
s=input()
p=s.find('x')
if(p!=-1):
    k=s[0:p]+'y'+s[p+1:]
print(p,k)

Axure
1 Ayure

In [79]:
#If more than 1 x in string
s=input()
p=""
for i in s:
    if(i=='x'):
        p=p+'y'
    else:
        p=p+i
print(p)

xxxxxxxxxxaaaaaxxxxxxXxXxXXXXXXXXXXXxxxxxaxjdgehx
yyyyyyyyyyaaaaayyyyyyXyXyXXXXXXXXXXXyyyyyayjdgehy

In [82]:
s = "abcdefghi"
s[-3:-1]

'gh'

In [97]:
s[-3:-1]

'gh'

# Lists

In [98]:
a=[1,2,3]
a

[1, 2, 3]

In [99]:
type(a)

list

In [103]:
a=[1,2,3,4]

In [105]:
#As lists are mutable, we vam change the data at indexes
a[0]
a[0]=9
a

[9, 2, 3, 4]

In [107]:
#Lists are not restricted with single data type
list1=[1,2,'Shivam',True]
list1

[1, 2, 'Shivam', True]

In [108]:
list1[2]

'Shivam'

In [111]:
#More on lists
z=[0 for i in range(10)]
z

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [122]:
k=[i for i in range(10)]
k

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
z=[i*i for i in range(10)]
z

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [119]:
str4="Shivam"
z=[i for i in str4]
z

['S', 'h', 'i', 'v', 'a', 'm']

In [120]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [121]:
#Length of list
len(z)

6

In [123]:
#Cancatenation of two lists
z+k

['S', 'h', 'i', 'v', 'a', 'm', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
#But this is not possible
z+3

TypeError: can only concatenate list (not "int") to list

In [133]:
p=[1,2,3,4]
p*3 #The data will be copied 3 types

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [137]:
#To add data to end of list
p.append(6)
p

[1, 2, 3, 4, 6, 6, 6]

In [139]:
#To insert the elements at particular index= list.insert(index,value)
p.insert(2,9)
p

[1, 2, 9, 9, 3, 4, 6, 6, 6]

In [141]:
#Extend fn- To cancatenate data to fisrt list
p.extend(z)
p

[1,
 2,
 9,
 9,
 3,
 4,
 6,
 6,
 6,
 'S',
 'h',
 'i',
 'v',
 'a',
 'm',
 'S',
 'h',
 'i',
 'v',
 'a',
 'm']

In [143]:
#To remove the element= list.remove(value)
p.remove(6)
p
#But it deletes the first occurence of element

[1,
 2,
 9,
 9,
 3,
 4,
 6,
 6,
 'S',
 'h',
 'i',
 'v',
 'a',
 'm',
 'S',
 'h',
 'i',
 'v',
 'a',
 'm']

In [145]:
#To remove the element at particular index pop function is used: list.pop(index)
p.pop(1)
p

[1, 9, 3, 4, 6, 6, 'S', 'h', 'i', 'v', 'a', 'm', 'S', 'h', 'i', 'v', 'a', 'm']

In [147]:
#Alternate to above
del(p[1])
p

[1, 4, 6, 6, 'S', 'h', 'i', 'v', 'a', 'm', 'S', 'h', 'i', 'v', 'a', 'm']

In [149]:
#Sort fun to sort the list= list.sort()
k=[1,65,4,9,6,3]
k.sort()
k

[1, 3, 4, 6, 9, 65]

In [151]:
#Max/min to calculate :These fns only work when list has only numbers not char/string
max(k)
min(k)

1

In [153]:
#Index fn: To find the index of any number
k.index(4)
#but if the number is not in list it will show you an error
k.index(5)

ValueError: 5 is not in list

In [156]:
#To check whether a number is present in list and returns true or false
100 in k
6 in k

True

In [157]:
p

[1, 4, 6, 6, 'S', 'h', 'i', 'v', 'a', 'm', 'S', 'h', 'i', 'v', 'a', 'm']

In [158]:
p.pop()

'm'

In [159]:
#printing in list
for i in p:
    print(i)

1
4
6
6
S
h
i
v
a
m
S
h
i
v
a

In [166]:
#For taking inputs in next line
n=int(input())
a=[]
for i in range(n):
    m=int(input())
    a.append(m)
a

5
1
2
2
6
7

[1, 2, 2, 6, 7]

In [177]:
#For taking inputs as string like= "1 2 3 4 5"
s="1 2 3 4 5"
p=s.split(" ")
for i in range(0,len(p)):
    p[i]=int(p[i])
p

[1, 2, 3, 4, 5]

In [ ]:
#Alternate to take space seperated input
g=input().split()
#To convert ig in to int
l=[int(i) for i in g]
l

In [ ]:
#To take space seperated input in one line
p=[int(i) for i in input().split()]

In [1]:
#For comma seperated inputs
k=[int(i) for i in input().split(",")]

1,2,3,4

In [2]:
#For taking inputs like :" size,1 2 3 4 5"
p=[int(i) for i in range(1,len(input().split()))]

5 1 2 3 4

In [4]:
s="My name is Shivam Patel"
p=s.split()

In [5]:
p

['My', 'name', 'is', 'Shivam', 'Patel']

In [6]:
p[0][0]

'M'

In [8]:
len(p[1])

4