In [3]:
a=1,2
a

(1, 2)

In [4]:
a1=(1,2,3,4)
a1

(1, 2, 3, 4)

In [6]:
#convert list to tuple
list1=[14,55,78]
b=tuple(list1)
b

(14, 55, 78)

In [7]:
print(max(a1))

4

In [9]:
c=a+a1
c

(1, 2, 1, 2, 3, 4)

In [13]:
#Tuple inside tuple
d=a1,c
d

((1, 2, 3, 4), (1, 2, 1, 2, 3, 4))

In [17]:
e=("abcd","aa","c")
min(e)

'aa'

In [24]:
#Taking as many default argument without defining them like this, always define default at the end
def sum(a,b,c=0,d=5):
    #here a and b are must argument and c is default
    return a+b+c+d
print(sum(1,2)) # taking c=0
print(sum(1,2,5,d=2)) #Taking c=5, d=2

8
10

In [26]:
#In the above if suppose we have 50 argument 
def sum1(a,b,*more):
    #here more will be tuple
    ans=a+b
    print(a)
    print(b)
    print(more)
    print(type(more))
    for i in more:
        ans=ans+i
    return ans

In [28]:
print(sum1(1,2))
print(sum1(1,2,3,4))

1
2
()
<class 'tuple'>
3
1
2
(3, 4)
<class 'tuple'>
10

In [32]:
# we can return more than 1 value, it will return tuple
def sum2(a,b,*more):
    #here more will be tuple
    ans=a+b
    for i in more:
        ans=ans+i
    return ans,a*2

In [41]:
print(sum2(5,61,54))
# hence its returning tuple, to store each value in different var:
x,y=sum2(5,4,7)
print(x)
print(y)

(120, 10)
16
10